* {
  margin: 0; 
  padding: 0;
}

body {
  background-color: #eee;
}

.clearboth {
  clear: both;
}

.ui-corner-top-left {
  -moz-border-radius-topleft: 25px;
}

#wrapper {
  width: 960px;
  margin: 10px auto 10px;
}

#navigation {
  float: right;
  font-size: 12px;
  margin-right: 160px;
}

#navigation ul {
  list-style: none;
}

#navigation ul li {
  float: left;
  margin: 6px;
}

#main_area {
  float: left;
  width: 800px;
  height: 6in;
}

#side_navigation {
  float: left;
  min-height: 300px;
  width: 155px;
}
