* {
  margin: 0; 
  padding: 0;
}

body {
  background-color: #eee;
}

.clearboth {
  clear: both;
}

.ui-corner-top-left {
  -moz-border-radius-topleft: 25px;
}

#wrapper {
  width: 960px;
  margin: 10px auto 10px;
}

#navigation {
  float: right;
  font-size: 12px;
  margin-right: 160px;
}

#navigation ul {
  list-style: none;
  padding: 0 10px;
}

#navigation ul li {
  float: left;
  padding: 6px;
  border: 0 none;
  cursor: pointer;
}

#navigation ul li a {
  display: block;
  text-decoration: none;
}

#main-area {
  float: left;
  width: 800px;
  min-height: 600px;
}

#content-header {
  margin: 30px 60px;
}

#content-header h2 {
  font-size: 1em;
}

#content-body {
  margin: 0 35px;
}

#content-page {
  margin: 0 35px;
}

.news_article {
  margin-top: 30px;
}

.news_article h3, .news_article h4 {
  margin-left: 20px;
}

.news_article h4 {
  font-size: 10pt;
  font-weight: normal;
}

.news_article_body {
  margin-top: 15px;
}

#side-navigation {
  float: left;
  min-height: 300px;
  width: 155px;
}

#side-navigation-content {
  margin: 10px;
  width: 135px;
}

#side-navigation-content h3 {
  text-align: center;
}

#side-navigation-content ul.level_a {
  margin-top: 30px;
  list-style: none;
}

#side-navigation-content ul.level_a li h4 {
  margin-top: 10px;
}

#side-navigation-content ul.level_b {
  margin-left: 10px;
  margin-top: 10px;
  list-style: none;
}

#screenshot_gallery {
}

.screenshot_thumb {
  float: left;
  margin: 30px 30px 0;
}

.screenshot_thumb img {
  height: 225px;
  width: 300px;
  z-index: 2;
}

.screenshot_thumb div {
  z-index: 1;
  position: relative;
  bottom: 23px;
  background-color: black;
  color: white;
  padding: 2px;
  font-size: 0.75em;
  font-weight: bold;
  filter:alpha(opacity=75);
  -moz-opacity:0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
}
