{% extends 'base.html' %}
{% block title %}{{ content.title }}{% endblock %}
{% block html_body %}
<div id="wrapper" class="ui-widget">
  <div id="login_info" class="ui-widget-content">
    {% if request.user.username %}
      <span class="logout">Logged in as: {{ request.user.username }} </span>
      <a href="{% url users.views.destroy %}" class="logout">(logout)</a>
    {% else %}
      <a href="{% url users.views.login %}">login</a> or <a href="{% url users.views.new %}">register</a>
    {% endif %}
  </div>
  <div id="navigation" class="ui-widget-header ui-corner-top">
    <ul>
      <li><a href="{% url news.views.index %}">News</a></li>
      <li><a href="{% url about.views.index %}">About</a></li>
      <li><a href="{% url downloads.views.index %}">Downloads</a></li>
      <li><a href="#">Wiki</a></li>
      <li><a href="#">Issue Tracker</a></li>
      <li><a href="{% url screenshots.views.index %}">Screenshots</a></li>
      <li><a href="{% url dev_log.views.index %}">Dev Log</a></li>
    </ul>
  </div>
  <div class="clearboth"></div>
  <div id="main-area" class="ui-widget-content ui-corner-top-left">
    <div id="content-header">
      <h1>{{ content.header }}</h1>
      {% if sub_header %}
        <h2>{{ sub_header }}</h2>
      {% endif %}
    </div>
    <div id="content-body">
      {% block content_body %}
        <div class="narrow_content">
          {{ content.body|safe }}
        </div>
      {% endblock %}
    </div>
    <div id="content-page">
      {% block main_content %}
      {% endblock %}
    </div>
  </div>
  <div id="side-navigation" class="ui-widget-header ui-corner-right" >
    <div id="side-navigation-content">
      {% block side_navigation %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
