{% extends 'base.html' %}
{% block title %}{{ content.title }}{% endblock %}
{% block html_body %}
<div id="wrapper" class="ui-widget">
  <div id="navigation" class="ui-widget-header ui-corner-top">
    <ul>
      <li><a href="/">News</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/downloads/">Downloads</a></li>
      <li><a href="/wiki/">Wiki</a></li>
      <li><a href="/issues/">Issue Tracker</a></li>
      <li><a href="/screenshots/">Screenshots</a></li>
      <li><a href="/dev/">Dev Log</a></li>
    </ul>
  </div>
  <div class="clearboth"></div>
  <div id="main_area" class="ui-widget-content ui-corner-top-left">
    {{ content.header }}
    <div class="content-body">
      {{ content.body }}
    </div>
    {% block main_content %}
    {% endblock %}
  </div>
  <div id="side_navigation" class="ui-widget-header ui-corner-right" >
    {% block side_nav %}
    {% endblock %}
  </div>
</div>
{% endblock %}
