{% extends 'base.html' %}
{% block html_body %}
<div id="wrapper" class="ui-widget">
  <div id="navigation" class="ui-widget-header ui-corner-top">
    <ul>
      <li>News</li>
      <li>About</li>
      <li>Downloads</li>
      <li>Wiki</li>
      <li>Issue Tracker</li>
      <li>Screenshots</li>
      <li>Dev Log</li>
    </ul>
  </div>
  <div class="clearboth"></div>
  <div id="main_area" class="ui-widget-content ui-corner-top-left">
  </div>
  <div id="side_navigation" class="ui-widget-header ui-corner-right" >
  </div>
</div>
{% endblock %}
