{% extends "layout.html" %}

{% block main_content %}
  {% for ticket in tickets %}
  <div class="ticket">
    <div class="ticket_author ui-widget-header ui-corner-top">
      <a href="#">{{ ticket.name|slice:":16" }}</a>
    </div>
    <div class="ticket_date ui-widget-content">
      <span class="creation_date">Opened at: {{ ticket.open_date|date:"m/d/Y" }}</span>
      <span class="author">Created by: {{ ticket.creator.user.get_full_name }}</span>
      <div class="clearboth"></div>
    </div>
    <div class="ticket_description ui-widget-content ui-corner-bottom">
      {{ ticket.description }}
    </div>
  </div>
  {% endfor %}
{% endblock %}

{% block side_navigation %}
  {% include 'tickets/navigation.html' %}
{% endblock %}
