<div class="ticket">
  <div class="ticket_header ui-widget-header ui-corner-top">
    {% if list_view %}
      <span class="name"><a href="{% url tickets.views.show ticket.pk %}">{{ ticket.name|truncatewords:10 }}</a></span>
    {% else %}
      <span class="name">{{ ticket.name }}</span>
    {% endif %}
    <span class="status">{{ ticket.status }}</span>
  <div class="clearboth"></div>
  </div>
  <div class="ticket_author ui-widget-content">
    <span class="author">
      <a href="#">{{ ticket.creator.user.get_full_name }}</a>
    </span>
    <span class="priority">Created: {{ ticket.open_date|date:"m/d/Y" }} <span>Priority: {{ ticket.priority }}</span></span>
    <div class="clearboth"></div>
  </div>
  <div class="ticket_description ui-widget-content ui-corner-bottom">
  	{% if list_view %}
      {{ ticket.description|truncatewords:40 }}
    {% else %}
      <div class="breathing_space">
        {{ ticket.description }}
      </div>
    {% endif %}
  </div>
</div>